<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{{ title }}</title>
        <link rel="icon" href="{{ url_for('static', path='favicon.png') }}" />
        <link rel="stylesheet" href="{{ url_for('static', path='index.css') }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <main class="container">
            <h1>{{ title }}</h1>
            <ul class="item-list">
                {% for item in items %}
                <li>{{ item }}</li>
                {% endfor %}
            </ul>
        </main>
    </body>
</html>
